/* CUSTOM PROPS */ 
:root {
    --blue: #5267DF;
    --red: #FA5959;
    --text-color: rgb(36, 42, 69);
    --text-color-75: rgba(36, 42, 69, 0.75);
    --text-color-50: rgba(36, 42, 69, 0.5);
    
}


/* FONT-FACE */

@font-face {
    font-family: 'Rubik';
    src: url('Rubik-MediumItalic.woff2') format('woff2'),
    url('Rubik-MediumItalic.woff') format('woff');
    font-weight: 500;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Rubik';
    src: url('Rubik-Regular.woff2') format('woff2'),
    url('Rubik-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Rubik';
    src: url('Rubik-Medium.woff2') format('woff2'),
    url('Rubik-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}


/* GLOBAL STYLES */
html {
    height: 100%;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

body {
    display: flex;
    flex-direction: column;
    height: 100%;
    padding: 0;
    margin: 0;
    font-size: 16px;
    line-height: 36px;
    letter-spacing: 0.15PX;
    font-weight: 500;
    font-family: "Rubik", "Arial", sans-serif;
    background-color: #fff;
    color: var(--text-color-50);
    color: var(--text-color);
}

img {
    max-width: 100%;
    height: auto;
}


/* BUTTON */
.button {
    display: inline-block;
    padding: 8px 22px;
    font-size: 14px;
    line-height: 28px;
    border-radius: 5px;
    border: 2px solid transparent;
    background-color: var(--blue-bg);
    color: #fff;
    font-weight: 500;
    font-style: normal;
    text-decoration: none;
    text-align: center;
    cursor: pointer;
    white-space: nowrap;
}

.button:active {
    opacity: 0.6;
}

.button--red {
    background-color: var(--red);
    color: #fff;
}

.button--red:hover {
    border-color: var(--red);
    background-color: #fff;
    color: var(--red);
}

.button--site-header {
    padding: 10px 31px;
    font-size: 13px;
    line-height: 17px;
    letter-spacing: 1.5px;
}

.button--blue {
    background-color: var(--blue);
    color: #fff;
}

.button--blue:hover {
    border-color: var(--blue);
    background-color: #fff;
    color: var(--blue);
}

.button--gray {
    background-color: #f7f7f7;
    color: var(--text-color);
}

.button--gray:hover {
    border-color: #5B6074;
    background-color: #fff;
    color: #f7f7f7;
}

.button-block {
    display: block;
    width: 100%;
}




/* CONTAINER */

.container {
    width: 100%;
    max-width: 1150px;
    padding-left: 20px;
    padding-right: 20px;
    margin-right: auto;
    margin-left: auto;
}

/* MAIN-CONTENT */

main {
    flex-grow: 1;
}


/* LOGO */
.logo {
    display: block;
    text-decoration: none;
}

.logo:hover {
    opacity: 8;
}

.logo:active {
    opacity: 0.6;
}

.logo__img {
    display: block;
    width: 149px;
    height: 25px;
    object-fit: contain;
}


/* SITENAV */
.sitenav {
    font-size: 13px;
    line-height: 17px;
    letter-spacing: 1.5px;
    text-transform: uppercase;
}


.sitenav__list {
    display: flex;
    padding: 0;
    margin: 0;
    list-style: none;
}

.sitenav__item:not(:last-child) {
    margin-right: 48px;
}

.sitenav__link {
    display: block;
    color: var(--text-color);
    font-style: normal;
    text-decoration: none;
}

.sitenav__link:hover {
    color: var(--red);
}

.sitenav__link:active {
    opacity: 0.6;
}


/* SITE-HEADER  */
.site-header {
    padding-top: 48px;
    padding-bottom: 48x;
    text-transform: uppercase;
}

.site-header__container {
    display: flex;
    align-items: center;
}

.site-header__logo {
    margin-right: auto;
}

.site-header__sitenav {
    margin-right: 48px;
}


